html,
body {
  height: 100%;
}

h5,
p {
  font-family: 'Volkhov', serif;
}

p {
  color: #224663;
}

/* navbar */
.nav-link {
  color: rgba(0, 0, 0, 0.4);
  font-size: larger;
}

.navbar-brand-img {
  width: 40%;
  height: auto;
}

/* body */
#overlay-image {
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */
  max-width: 100%;
  height: auto;
}

/* footer */
#footerLogoImg {
  max-width: 50%;
}

#copyright {
  font-size: small;
  color: rgba(0, 0, 0, 0.4);
}
